<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.profile">

    <application>
        <activity
            android:name=".activity.CropImageActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ProfileInfoActivity"
            android:exported="false" />
    </application>

</manifest>