<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.login">

    <application>
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:noHistory="true"
            android:theme="@style/Theme.ItineraryAndroid" />

        <activity
            android:name="cn.jiguang.verifysdk.CtLoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/ActivityDialogStyle" />
    </application>

</manifest>